PAW.Architecture.zip
PAW.slnLaunch.user
.vs/PAW/config/applicationhost.config
.vs/PAW/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/PAW/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/PAW/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/PAW/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/PAW/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/PAW/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/PAW/DesignTimeBuild/.dtbcache.v2
.vs/PAW/FileContentIndex/08e863b9-683b-4956-83f1-198b4ae38b0b.vsidx
.vs/PAW/FileContentIndex/34971bef-06ea-43e9-a295-da02458af58f.vsidx
.vs/PAW/FileContentIndex/adf2a88d-5baa-481c-b79d-944465a92195.vsidx
.vs/PAW/FileContentIndex/bea9a8d6-677f-40f4-8c6f-f9f632c2c28d.vsidx
.vs/PAW/FileContentIndex/ca2fdec1-6c5f-447c-b0ac-8af50d9b13be.vsidx
.vs/PAW/v17/.futdcache.v2
.vs/PAW/v17/.suo
.vs/PAW/v17/DocumentLayout.backup.json
.vs/PAW/v17/DocumentLayout.json
.vs/PAW/v17/TestStore/0/000.testlog
.vs/PAW/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/paw.metadata.v9.bin
.vs/ProjectEvaluation/paw.projects.v9.bin
.vs/ProjectEvaluation/paw.strings.v9.bin
.vs/PAW/FileContentIndex/f4f56a66-c999-4a46-8225-9a2d7ecd38d5.vsidx
/.vs/PAW/FileContentIndex/d4bc7c18-d3c0-4899-a064-1813ea8dd27d.vsidx
/PAW.Mvc/bin/Debug/net8.0/PAW.Mvc.dll
/PAW.Mvc/bin/Debug/net8.0/PAW.Mvc.exe
/PAW.Mvc/bin/Debug/net8.0/PAW.Mvc.pdb
/PAW.Mvc/obj/Debug/net8.0/apphost.exe
/PAW.Mvc/obj/Debug/net8.0/PAW.Mvc.AssemblyInfo.cs
/PAW.Mvc/obj/Debug/net8.0/PAW.Mvc.AssemblyInfoInputs.cache
/PAW.Mvc/obj/Debug/net8.0/PAW.Mvc.csproj.FileListAbsolute.txt
/PAW.Mvc/obj/Debug/net8.0/PAW.Mvc.dll
/PAW.Mvc/obj/Debug/net8.0/PAW.Mvc.pdb
/PAW.Mvc/obj/Debug/net8.0/PAW.Mvc.sourcelink.json
/PAW.Mvc/obj/Debug/net8.0/ref/PAW.Mvc.dll
/PAW.Mvc/obj/Debug/net8.0/refint/PAW.Mvc.dll
/PAW.Mvc/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/PAW.Mvc/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/PAW.Mvc/obj/Debug/net8.0/rpswa.dswa.cache.json
